.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        //this is the white menu button on top of the background
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed; //this makes it stay in place as the screen is scrolled
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        box-shadow: 0 1rem 3rem rgba($color-black, 0.2);
        cursor: pointer;
        z-index: 200; //this makes it the highest index on the screen
        text-align: center; //makes the little bars centered
    }

    &__background {
        //this is the gradient green part of the navigation menu
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed; //stays in place when the screen is scrolled
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 100;
        transition: transform 0.8s; //ease of background

        //transform: scale(90);
    }

    &__nav {
        height: 100vh; //nav fills the whole screen
        position: fixed;
        top: 0;
        left: 0;
        z-index: 150;

        opacity: 0; //this hides the nav menu
        width: 0;
        visibility: hidden; //hides it on load
        transition: all 0.8s; //ease of nav list
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style-type: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        padding-top: 1rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            color: $color-white;
            padding: 1rem 2rem;
            text-transform: uppercase;
            //below sets the sliding white on hover of list link
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 250%;
            transition: all 0.5s; //ease of white highlight on link list item
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
            cursor: pointer;
        }
    }

    &__checkbox:checked ~ &__background {
        //when nav button is clicked the nav menu expands
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        visibility: visible;
        opacity: 1;
        width: 100%;
    }

    //ICON
    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            display: inline-block;
        }

        //this is the 3 bars for nav menu
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all 0.2s; //this controls the bars movement on hover
        }

        //this is the top bar
        &::before {
            top: -0.8rem;
        }

        //this is the bottom bar
        &::after {
            top: 0.8rem;
        }
    }

    //this makes the top and bottom bars move when hovered
    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    //checkbox hack
    &__checkbox:checked + &__button &__icon {
        background-color: transparent; //this makes the middle bar disappear
    }

    //this makes the top and bottom bars move to the middle and cross
    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}
