.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        padding: 1.5rem 2rem;
        border-radius: 0.2rem;
        color: inherit;
        background-color: rgba($color-white, 0.5);
        border: none;
        border-bottom: 0.3rem solid transparent; //this makes it so the input boxes don't jump around when clicked with the colored bottom lines
        width: 90%;
        display: block;
        transition: all 0.3s; //eases in the color change of the input box line

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
            border-bottom: 0.3rem solid $color-primary;
        }

        &:focus:invalid {
            //makes it so the input field is invalid until the proper info is entered
            border-bottom: 0.3rem solid $color-orange-dark;
        }

        &::-webkit-input-placeholder {
            //this makes the placeholder lighter grey until typed and then darker
            color: $color-grey-dark-2;
        }
    }

    &__label {
        color: $color-grey-dark-2;
        //font-size: 1.2rem;
        //font-weight: 700;
        margin-left: 2rem;
        margin-top: 0.7rem;
        display: block;
        transition: all 0.3s; //eases the placeholder moving unter the input box
    }

    &__input:placeholder-shown + &__label {
        //hides the bottom placeholder
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group {
        //this sets the buttons on the same line w/o using floats
        width: 49%;
        display: inline-block;
    }

    &__radio-input {
        //hides the regular radio button
        display: none;
    }

    &__radio-label {
        cursor: pointer;
        position: relative;
        padding-left: 4rem;
    }

    &__radio-button {
        //outside ring of the custom radio button
        height: 3rem;
        width: 3rem;
        border: 0.5rem solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -0.4rem;

        &::after {
            //this is the little dot inside of the custome radio button
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            background-color: $color-primary;
            position: absolute;
            top: 50%; //positions the dot
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0; //hides the dot
            transition: opacity 0.2s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1; //shows the dot when clicked
    }
}
