.popup {
    background-color: rgba($color-grey-dark-3, 0.5);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;

    &__content {
        @include centered;
        width: 50%;
        height: 50%;
        background-color: pink;
        color: green;
    }
}
